.button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    
    background-color: #9b4dca;
    border: 0.1rem solid #9b4dca;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.button {
    background-color: transparent;
    border-color: transparent;
    color: #9b4dca;
}

.button:focus,
.button:hover {
    background-color: transparent;
    border-color: transparent;
    color: #606c76;
}

.button[disabled]:focus,
.button[disabled]:hover {
    color: #9b4dca;
}